<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://redsub-blog.herokuapp.com/">The Ruby on Rails blogs</a>
      by <a href="https://www.linkedin.com/in/zdravko-bari%C4%87-30379519b/">Zdravko Baric</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
